{% extends 'parent1.html'   %}
{% block title %}Addition of two number{% endblock %}
{% block content %}
  
  <h1>Addition of Two Numbers</h1>
  <form method="post">
    {% csrf_token %}
    <label for="num1">Number 1:</label>
    <input type="number" name="num1" id="num1" required>
    <br>
    <label for="num2">Number 2:</label>
    <input type="number" name="num2" id="num2" required>
    <br>
    <button type="submit">Add</button>
  </form>
  {% if result   %}
  <p>The result of adding {{ num1 }} and {{ num2 }} is {{result }}</p>
  {% endif %}
  {% endblock %}