<html> 
    {% load static %}
    <body>
        <head>
            <link rel="stylesheet" href="{% static 'css/table.css' %}">
        </head>
        
        <table border="2">
            <thead>
                <tr>
                    <th>Fruits</th> 
                    <th>Vegetables</th> 
                    <th>Snacks</th>
                </tr>
            </thead> 
            <tr>
                <td>APPLE </td>
                <td>CUCUMBER
                </td>
                <td>CHIPS</td>
            </tr>
            <tr>
                <td>BANANA</td> 
                <td>CAULIFLOWER</td>
                <td>CRISPS</td>
            </tr>
            <tr>
                <td>MANGO</td>
                <td>CABBAGE</td>
                <td>SWEETS</td>
            </tr>
        </table>
    </body>
</html>